<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profiles</title>
</head>
<body>
    <h2>User Profiles</h2>
    <ul>
        {% for userprofile in userprofiles %}
            <li><a href="/userprofile-detail/{{userprofile.uniqueid}}">{{ userprofile.username }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
