<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify OTP</title>
</head>
<body>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'verify_otp' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="otp_generated" value="{{ otp }}">
        <input type="text" name="otp" placeholder="Enter OTP" required><br>
        <button type="submit">Verify OTP</button>
    </form>
</body>
</html>
